{% extends "layout.html" %}

{% block title %}
TLS Archiver &bull; Certificates list
{% endblock %}


{% block header %}
<h1>Certificates list</h1>
{% endblock %}

{% block body %}
<table class="table table-hover">
<thead>
    <tr>
        <th>Domain name</th>
        <th>Queried server</th>
        <th>Protocol used</th>
        <th>CipherSuite used</th>
        <th>Timestamp</th>
    </tr>
</thead>
<tbody>
    {% for cert in certificates %}
        {% if cert.failed == 1 %}
        <tr class="bg-warning">
            <td>{{ cert.host }}</td>
            <td>{{ cert.ip }}</td>
            <td colspan="2"><code>{{ cert.failure_error }}</code></td>
            <td>{{ cert.timestamp }}</td>
        </tr>
        {% else %}
        <tr>
            <td>{{ cert.host }}</td>
            <td>{{ cert.ip }}</td>
            <td>{{ cert.protocol }}</td>
            <td>{{ cert.ciphersuite }}</td>
            <td>{{ cert.timestamp }}</td>
        </tr>
        {% endif %}
    {% endfor %}
</tbody>
</table>
{% if page > 0 %}<a href="/?page={{ page - 1 }}" class="btn btn-default pull-left">Page précédente</a>{% endif %}
<a href="/?page={{ page + 1 }}" class="btn btn-default pull-right">Page suivante</a>
{% endblock %}
